h1{
    text-align: center;
    color: green ;
    cursor: pointer ;
    font-size: 4em;
}
h1:hover{
    color: blue;
    /* text-decoration: underline ; */
}

#name {
    width: 190px;
    margin-top: -50px;
    border: 2px solid darkblue; 
}

.container{
    display: flex;
    justify-content: space-evenly;
}
.con1{
    background-color: lightblue ;
    width: 280px;
    height: 460px;
    border-radius: 20px;
}
.con2 img{
    width: 190px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
}
.con2 p{
    margin-top: 40px;
    width: 200px;
    margin-left: 30px;
}
.con2 a{
    margin-left: 30px;
}



/* section two */
.cont-1 p {
    width: 250px; 
}

.cont-1 {
    background-color: lightblue;
    padding: 10px 20px;
    height: 280px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
h2{
    margin-top: 40px;
}
.btn1 {
    color: black;
    font-size: 1em;
    border: 3px solid gray;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 15px;
}
.btn1:hover {
    transition: .4s ease;
    background-color: rgb(85, 85, 208);
}
.swr1 img{
    width: 300px;
    height: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-2{
    display: flex;
    justify-content: center;
}

/* section 3 */
.footer1{
    background-color: lightblue;
    width: 100%;
    height: 350px;
}
.footer{
    display: flex;
 
}


.join{
    width: 500px;
    padding-left: 40px;
}
.join h3{
    font-size: 2em;
}
h6{
    margin-top: -40px;
    margin-left: 10px;
    color: burlywood;
}

.input-1{
    margin-top: 70px;
    margin-left: 400px;
}
input{
    background-color: aliceblue;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    width: 242px;
    position: relative;
}
.btn2{
    background-color: rgb(223, 138, 33);
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 13px;
    position: absolute;
    right: 30px;

}

#kafiya {
    width: 1200px;
    border: 1px solid rgb(10, 10, 56); 
    
}

.logo{
    display: flex;
    margin-top: 20px;
    
}
.logo i{
    font-size: 3em;
    margin-right: 5px;
    padding-left: 40px;
    color: rgb(223, 138, 33);
}
.logo h4{
    font-size: 1.7em;
    margin-top: 10px;
}
.footer1 p{
    margin-top: -20px;
    font-size: 1em;
    width: 400px;
    margin-left: 50px;
}

.sec1{
    display: flex;
    justify-content: center;
    margin-left: 600px;
    gap: 20px;
    margin-top: -140px;
    font-size: 25px;
}

.home{
    display: flex;
    margin-left: 650px;
    gap: 50px;
    margin-top: -40px;
    color: burlywood;
}

.home ul{
    list-style: none;    
}
.copy{
    margin-left: 400px;

}

.copy i{
    margin-left: 30px;
}


@media (max-width: 480px){
    .container{
        display: block;
        padding-left: 50px;
    }
    
    .container .con1 .con2 {
        margin-top: 20px;
    }

    .container-2{
        display: block;
        margin-left: 40px;
        margin-top: -60px;
        
        
    }

    .cont-1 {
        padding: 0;
        width: 300px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;

        
    }
    .swr1 img{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .cont-1 p{
        padding: 20px;
    }
    .btn1{
        margin-left: 20px;
    }
    h2{
        margin-left: 20px;
        padding: 10px;
    }

    .footer{
        display: block;

    }
    .join{
        padding: 5 5;
        width: 500px;
    }
    h6{
        margin-left: 0px;
        padding-left: 0px;
        width: 280px;
        padding: 10px;
    }
    #kafiya{
        width: 320px;
        margin-top: -150px;
    }
    .logo i{
        margin-left: 30px;
        margin-top: 0px;
        padding-left: 0;
    }
    .logo h4{
        margin-left: 0px;
    }
    p{
        margin-left: 0px;
        padding-left: 0px;  
    }
    .btn2{
        padding: 15px 40px;
        margin-top: -5px;
    }
  .sec1{
    /* display: block; */
    margin-top: 80px;
    margin-left: 0px;
    font-size: 10px;
  }
  .input-1{
    margin-top: 100px;
    margin-left: 20px;
    padding: 5px;
  }
  .home{
    /* display: block; */
    margin-top: 0;
    margin-left: 0px;
    gap: 0px;

  }
  ul{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    gap: 0px;
  }
  input{
    padding: 15px;
    margin-top: 0px;
    width: 293px;
  }

  .footer1{
  height: 600px;

  }
    
}